.contact_form {
  margin: 0 auto;
  max-width: 80%;
  width: 900px;
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  padding: 20px;
  background-color: #8bc6ec;
  border-radius: 25px;
  border: 3px solid rgb(177, 130, 238);
  justify-content: center;
  box-shadow: 10px 10px 14px -10px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 10px 10px 14px -10px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 14px -10px rgba(0, 0, 0, 0.75);
}
.contact_form form {
  display: flex;
  flex-direction: column;
  padding: 20px;
}
.contact_form h1 {
  text-align: center;
}
.contact_form input {
  height: 30px;
  border-radius: 30px;
  border: 3px solid rgb(198, 130, 238);
  margin: 10px;
  padding: 10px;
  outline: none;
}
.contact_form button {
  width: 150px;
  height: 40px;
  margin: 0 auto;
  background-color: fuchsia;
  border: none;
  border-radius: 10px;
  font-size: 21px;
  color: aliceblue;
  transition: all 0.9s;
}
.contact_form button:active {
  background-color: rgba(200, 0, 255, 0.9);
}
.contact_form button:hover {
  box-shadow: 10px 10px 14px -10px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 10px 10px 14px -10px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 14px -10px rgba(0, 0, 0, 0.75);
}

.contact_list {
  margin: 0 auto;
  max-width: 80%;
  width: 900px;
  margin-top: 20px;
  padding: 20px;
  background-color: #8bc6ec;
  border-radius: 25px;
  border: 3px solid rgb(177, 130, 238);
  justify-content: space-between;
  box-shadow: 10px 10px 14px -10px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 10px 10px 14px -10px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 14px -10px rgba(0, 0, 0, 0.75);
}
.contact_list ul {
  border: 1px solid black;
  padding: 10px 10px 10px 20px;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
}
.contact_list ul div:last-child {
  display: flex;
  flex-direction: column;
}
.contact_list ul div img {
  width: 20px;
  margin: 5px;
  cursor: pointer;
}
